In [19]:
import pandas as pd
from make_datasets import data, datasets, format_for_prophet, dataset_generator, sales

In [5]:
datasets['A'].max()

ds                           2012-10-26 00:00:00
temperature                              82.3403
fuel_price                                3.9839
cpi                                      179.893
unemployment_interpolated                8.43368
y                                    2.54986e+06
temp_diff                                15.2021
fuel_diff                                0.18026
cpi_diff                                0.217836
IsHoliday                                   True
overfit                                  1.04598
dtype: object

In [6]:
datasets['A'].min()

ds                           2010-02-12 00:00:00
temperature                               29.489
fuel_price                               2.65719
cpi                                      170.523
unemployment_interpolated                6.80189
y                                    1.24593e+06
temp_diff                               -9.41657
fuel_diff                             -0.0858267
cpi_diff                              -0.0777966
IsHoliday                                  False
overfit                                 0.479214
dtype: object

In [14]:
data.loc[data[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']].dropna(how='all').index].min()

Store                                          1
Date                         2011-11-11 00:00:00
Temperature                                 7.46
Fuel_Price                                 3.031
MarkDown1                                   0.27
MarkDown2                                -265.76
MarkDown3                                  -29.1
MarkDown4                                   0.22
MarkDown5                                 135.16
CPI                                      129.817
Unemployment                               3.879
IsHoliday                                  False
unemployment_interpolated                  3.879
temp_diff                                 -21.11
fuel_diff                                 -0.235
cpi_diff                               -0.105452
Weekly_Sales                              215359
Type                                           A
Size                                       34875
dtype: object

In [15]:
data

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,unemployment_interpolated,temp_diff,fuel_diff,cpi_diff,Weekly_Sales,Type,Size
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,8.106000,NaN,NaN,NaN,1643690.90,A,151315
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,8.068750,-3.80,-0.024,0.145812,1641957.44,A,151315
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,8.031500,1.42,-0.034,0.046973,1611968.17,A,151315
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,7.994250,6.70,0.047,0.030500,1409727.59,A,151315
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,7.957000,-0.13,0.064,0.030500,1554806.68,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,False,8.668308,-0.44,-0.041,0.156854,713173.95,B,118221
6431,45,2012-10-05,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667,False,8.667000,0.01,-0.012,0.156854,733455.07,B,118221
6432,45,2012-10-12,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667,False,8.663769,-10.42,0.015,0.156854,734464.36,B,118221
6433,45,2012-10-19,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667,False,8.660538,2.00,-0.031,0.003589,718125.53,B,118221
6434,45,2012-10-26,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,False,8.657308,2.38,-0.087,-0.021955,760281.43,B,118221

In [23]:
sales[['Store', 'Dept']].drop_duplicates()

        Store  Dept
0           1     1
143         1     2
286         1     3
429         1     4
572         1     5
...       ...   ...
421013     45    94
421147     45    95
421290     45    96
421292     45    97
421435     45    98

[3331 rows x 2 columns]

In [29]:
sales[['Dept']].drop_duplicates().sort_values(by='Dept')

       Dept
0         1
143       2
286       3
429       4
572       5
...     ...
9656     95
9799     96
9921     97
10064    98
10207    99

[81 rows x 1 columns]

In [31]:
sales[['Store']].drop_duplicates().size

45